{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}


    {% block title_block %}
        Add a Business
    {% endblock %}
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Add a Business</h1>
    </div>
    <input id="search-box" class="controls" type="text" placeholder="search for a business here" style=" font-size: 20px;
        text-overflow: ellipsis;">
    <div id="map" style=" height: 400px; width: 800px;"></div>

    <div id="business_details" style="display: none">
        <form role="form" id="business_form" method="post" enctype="multipart/form-data"
              action="{% url 'add_business' %}" class=form-inline">
            {% csrf_token %}
            <input type="hidden" name="lat" id="lat">
            <input type="hidden" name="long" id="long">
            <input type="text" name="name" id="name" value="" placeholder="name"><br>
            <input type="text" name="url" id="url" value="" placeholder="website"><br>
            <textarea cols="50" rows="7" name="address" id="address"
                      placeholder="Enter an address here or search in the map above"></textarea><br>

            <input type="text" name="phone" id="phone" value="" placeholder="phone number"><br>
            <input type="text" name="email" id="email" value="" placeholder="email address"><br>
            <textarea cols="50" rows="7" name="opening_hours" id="opening_hours" placeholder="opening hours"
            ></textarea><br>

            <button class="btn btn-primary" type="submit" name="submit" value="Add business">
                add business
            </button>
            </br>
        </form>
    </div>

    <script>

        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 55.864237, lng: -4.251806},
                zoom: 13,
                mapTypeId: 'roadmap'
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('search-box');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));


                    document.getElementById("lat").value = place.geometry.location.lat();
                    document.getElementById("long").value = place.geometry.location.lng();
                    document.getElementById("name").value = place.name;
                    document.getElementById("phone").value = place.formatted_phone_number;
                    document.getElementById("url").value = place.website;
                    document.getElementById("business_details").style.display="block";


                    let addressAsString = "";
                    let openinghoursAsString = "";

                    addressAsString += place.address_components[0].long_name + " ";

                    for (let i = 1; i < place.address_components.length; i++) {
                        addressAsString += place.address_components[i].long_name + "\n";
                    }


                    for (let i = 0; i < place.opening_hours.weekday_text.length; i++) {
                        openinghoursAsString += place.opening_hours.weekday_text[i] + "\n";
                    }

                    document.getElementById("address").value = addressAsString;
                    document.getElementById("opening_hours").value = openinghoursAsString;


                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXhTbwURSjqAql1ySbqt0jeefYM8v74uc&libraries=places&callback=initAutocomplete"
            async defer></script>

    </div>
     <img id="border_image" src="{% static 'images/flowerpotsborder.png' %}" alt="plantmate"/>
{% endblock %}