{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
<!----HEADER----------------------------------------------------------------------------------------------------------->
{% block head_block %}
    {% block title_block %}
        Add an image
    {% endblock %}
{% endblock %}
<!----BODY------------------------------------------------------------------------------------------------------------->
{% block body_block %}
<!----JUMBOTRON-------------------------------------------------------------------------------------------------------->
    <div class="jumbotron">
        <h1>Add an image</h1>
    </div>
    <!----MAIN-BODY---------------------------------------------------------------------------------------------------->
    <div class="background_space_smaller">
        <div style="margin-left: 20px;">
        <form role="form" id="picture" method="post" enctype="multipart/form-data"
              action="/plant-list/{{ plant.slug }}/add-image">
            {% csrf_token %}
            <input type="hidden" id="plant_name" name="plant_name" value={{ plant.slug }}>
            <input type="file" name="picture" id="picture" class="form-control-file">
            <br>
            <button class="btn btn-outline-success" type="submit" value="submit">add image</button>
        </form>

    </div>
    </div>

{% endblock %}