{% extends "plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        Add a Business
    {% endblock %}
{% endblock %}

{% block body_block %}
    <h1>add a Business</h1>
    <div>
        <form role="form" id="business_form" method="post" action="{% url 'add_business' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit" value="Add business"/>
            add business</button>
        </form>

        <script>

        </script>
    </div>
{% endblock %}