{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        Add an image
    {% endblock %}
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
    <h1> Add a profile picture</h1>
</div>
    <div class="background_space">

        <form role="form" id="profile_picture" method="post" enctype="multipart/form-data"
              action="." class="btn btn-outline-success">
            {% csrf_token %}
            <input type="file" name="picture" id="picture">
            <button class="btn btn-outline-warning"type="submit" value="submit">add image</button>
        </form>

    </div>
{% endblock %}