<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            plantmate
            {% block title_block %}
                welcome to plantmate
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'recommendations' %}">recommended plants</a></li>
                <li><a href="{% url 'wishlist' %}">wishlist</a> </li>
                <li><a href="{% url 'wishlist' %}">my plants</a> </li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>

                
            {% endif %}
                <li><a href="{% url 'add_business' %}">add a business</a></li>
                <li><a href="{% url 'home' %}">home</a></li>
            </ul>
        </div>
    </body>
</html>