<!DOCTYPE html>
{% load staticfiles %}
 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static "images/testicon.ico" %}" alt="test icon">
 <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="dashboard.cs http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

{% block head_block %}
    <head>
        <title>plantmate </title>
        {% block title_block %}
            welcome to plantmate
        {% endblock %}
     </head>
{% endblock %}
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">plantmate</a>

    {#<div>#}
    {#    {% block body_block %}#}
    {#    {% endblock %}#}
    {#</div>#}
    {#<hr />#}
    {#<a href="/business-list">Local Business List</a><br />#}
    {#    <a href="/plant-list">Plant A-Z</a><br />#}
    {#    <a href="/quiz">Quiz</a><br />#}
    {#    <a href="/login">login</a><br />#}
    {#    <a href="/sign-up">sign up</a><br />#}
    {#    <a href="/contact">contact us</a><br />#}

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'plant_list' %}">
                    a-z of houseplants
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'business-list' %}">
                    find local plant shops
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">
                    contact us
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myaccount' %}">
                        my account
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_plants' %}">
                        my plants
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wishlist' %}">
                        my wishlist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_logout' %}?next=/">
                        log out
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration_register' %}">
                        sign up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_login' %}">
                        log in
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_business' %}">
                            add a business
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_plant' %}">
                            add a plant
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block sidebar_block %}
            {% endblock %}
        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            {% block body_block %}{% endblock %}
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

{#<div>#}

{#    <ul>#}
{#            {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'wishlist' %}">wishlist</a> </li>#}
{#        <li><a href="{% url 'my_plants' %}">my plants</a> </li>#}
{#        <li></li><a href="{% url 'auth_logout' %}?next=/">log out</a></li>#}
{#            {% else %}#}
{#        <li><a href="{% url 'registration_register' %}">register</a></li>#}
{#        <li><a href="{% url 'auth_login' %}">log In</a></li>#}
{##}
{##}
{#            {% endif %}#}
{#        <li><a href="{% url 'add_business' %}">add a business</a></li>#}
{#        <li><a href="{% url 'home' %}">home</a></li>#}
{#    </ul>#}
{#</div>#}
</body>
</html>