{% extends "plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}

    {% block title_block %}
        Business List
    {% endblock %}
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Find a plant shop near you...</h1>
    </div>
    <h5 id="card-title"></h5>
    <p id="business-address"></p>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'add_business' %}">add a new business</a><br/>
        {% endif %}
    </div>
    <div id="map_loading"><p>map loading . . . </p></div>
    <div id="googleMap" style="width:600px;height:400px;"></div>

    <script>
      function addMarkers() {
            {%  for business in businesses %}
                addMarker({
                        lat: Number("{{ business.lat }}"),
                        lng: Number("{{ business.long }}")
                    }, "<a href=\"" + "{% url 'business-list' %}{{ business.slug }}" + "\">" + "{{ business.name }}" + "<\/a>", "{{ business.address }}"
                );
            {%  endfor %}
        }
    </script>

 <script type="text/javascript" src={% static "javascript/allLocalBusinesses.js" %}></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1_mwAa6UhCMVkPr4XIk-XFSXlD0Fwkmw&callback=initMap"></script>
{% endblock %}