{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        contact us at plantmate
    {% endblock %}
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
        <h1>contact us</h1>
        plantmate@gmail.com<br>
        0141 557 1110<br>
    </div>
    <div class="background_space_medium">
        {% if success %}
            <div>
                <h3>Thanks for getting in touch with us, we will get back to you as soon as we can. </h3>
            </div>
        {% else %}
            <form role="form" id="form" method="POST" enctype="multipart/form-data" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="row" style="margin-left: 10%">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_name">Subject *</label>
                            <input id="form_name" type="text" name="subject" class="form-control"
                                   placeholder="What can we help with?" required="required"
                                   data-error="Subject is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control"
                                   placeholder="Please enter your email address *" required="required"
                                   data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 10%">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control"
                                      rows="4" required="required" data-error="Please, leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>
                </div>
            </form>
            </div>

        {% endif %}
{% endblock %}
