{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
<!----HEADER----------------------------------------------------------------------------------------------------------->
{% block head_block %}
    {% block title_block %}
        Home
    {% endblock %}
{% endblock %}
<!----BODY------------------------------------------------------------------------------------------------------------->
{% block body_block %}
    <body style="background-image: none">
    <!----JUMBOTRON---------------------------------------------------------------------------------------------------->
        <div class="jumbotron" style="text-align: center">
            <h1>Plantmate</h1>
            Find your perfect plant
        </div>
        <!----MAIN-BODY------------------------------------------------------------------------------------------------>
        <div id="quiz_button">
            <a href="/quiz/" role="button" class="btn btn-outline-success btn-lg">take the quiz</a>
        </div>
        <img id="homepage_image" src="{% static 'images/flowerpots4.png' %}" alt="plantmate"/>
    </div>
</body>
{% endblock %}
