{% extends "plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        my account
    {% endblock %}
{% endblock %}


{% block body_block %}
    <h1>Hi {{ username }}!</h1><br>
    {% if user_profile.picture %}
        <img src="{% static user_profile.picture %}" alt="profile picture"/><br>
    {% else %}
        <form id="profile_image_form" method="post" action="{% url 'add_profile_image' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_image_form.as_p }}
            <input type="submit" name="submit" value="add a profile image"/>
        </form>
    {% endif %}

    <h2>my plants</h2>
    {% if saved_plants %}
        {% for saved in saved_plants %}
            <a href="/plant-list/{{ saved.slug }}">{{ saved.name }}</a>
            <img src="{% static saved.picture %}" width="100">
            </br>
        {% endfor %}
    {% endif %}
    <h2>wishlist</h2>
    {% if wishlist_plants %}
        {% for wish in wishlist_plants %}
            <a href="/plant-list/{{ wish.slug }}">{{ wish.name }}</a>
            <img src="{% static wish.picture %}" width="100">
            </br>
        {% endfor %}
    {% endif %}

    {#    <a href="{% url 'wishlist' %}">view all</a><br /><br><br><br>#}
    {#<a href="{% url 'home' %}">Home</a><br />#}
    <h3>nearest plant shop</h3>
    name<br>
    species stocked<br>
    opening hours<br>
    view more<br><br><br><br>
    settings
    logout

{% endblock %}