{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
<!----HEADER------------------------------------------------------------------------------------------------------------>
{% block head_block %}
    {% block title_block %}
        my account
    {% endblock %}
{% endblock %}
<!----BODY-------------------------------------------------------------------------------------------------------------->
{% block body_block %}
    <!----JUMBOTRON----------------------------------------------------------------------------------------------------->
    <div class="jumbotron">
        <div class="jumbotron_row">
            {% if user_profile.picture %}
                <div class="jumbotron_row_left">
                    <div class="square_image_100px_radius">
                        <img src="{% static user_profile.picture %}" alt="profile picture" height="100px">
                    </div>
                    <div>
                        <h1 style="margin-left: 20px;"><br>{{ username }}</h1>
                    </div>
                </div>
                <div style="margin-right: 10px; margin-top: 52px;">
                    <button onclick=" location.href='{% url 'add_profile_image' %}' " class="btn
                    btn-outline-success">change picture
                    </button>
                </div>
            {% else %}
                <div>
                    <h1 style="margin-right: 10px"><br>{{ username }}</h1>
                </div>
                <div>
                    <button onclick="location.href='{% url 'add_profile_image' %}'" class="btn btn-outline-success">
                        add
                        profile picture
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <!----MAIN-BODY----------------------------------------------------------------------------------------------------->
    <div class="background_space">
        <div class="row">
        <!----MY-SAVED-PLANTS------------------------------------------------------------------------------------------->
            <div class="col-md-6">
                <div class="container">
                    <h2><a href="{% url 'my_plants' %}">My Plants</a></h2>
                    <div class="my_account_plants_container">
                        {% if not saved_plants %}
                            <div class="container">
                                <div class="card bg-light mb-3 text-center" style="width: 10rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Add plants</h5>
                                        <a href="{% url 'plant_list' %}" class=" btn-primary stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if saved_plants %}
                            {% for saved in saved_plants %}
                                <div class="card text-center" style="width: 9rem; height: 15rem">
                                    <img src="{% static saved.picture %}" class="card-img-top" alt="{{ saved.name }}"
                                         style="height: 9rem">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ saved.name }}</h6>
                                        <a href="/plant-list/{{ saved.slug }}" class=" btn-primary stretched-link"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!----MY-WISHLIST------------------------------------------------------------------------------------------->
            <div class="col-md-6">
                <div class="container">
                    <h2><a href="{% url 'wishlist' %}">My Wishlist</a></h2>
                    <div class="my_account_plants_container">
                        {% if not wishlist_plants %}
                            <div class="container">
                                <div class="card bg-light mb-3 text-center" style="width: 10rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Add plants</h5>
                                        <a href="{% url 'plant_list' %}" class=" btn-primary stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if wishlist_plants %}
                            {% for wish in wishlist_plants %}
                                <div class="card text-center" style="width: 9rem; height: 15rem">
                                    <img src="{% static wish.picture %}" class="card-img-top" alt="{{ wish.name }}"
                                         style="height: 9rem">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ wish.name }}</h6>
                                        <a href="/plant-list/{{ wish.slug }}" class="btn-primary stretched-link"></a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!----NEAREST-BUSINESS----------------------------------------------------------------------------------------->
        <div class="row">
            <div class="col-md-6">
                <h2><a href="" id="business_link" style="margin-left: 20px">Nearest Plant Shop</a></h2>
                <div id="googleMap" style="width:100%;height:400px;margin-bottom: 50px; margin-left: 20px;"></div>
            </div>
            <div class="col-md-6">
                <br><br>
                <h5 id="business_name"></h5>
                <div id="business_address"></div>
                <br>
                <p><strong>Opening hours:</strong>
                <div id="business_opening_hours"></div>
                <a href="" id="business_link">...more info</a><br>
                <p>Not what you're looking for? Find more plant shops <a href="{% url 'business-list' %}">here</a></p>

                <div id="loading_map">loading map . . .<br>
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----SCRIPT------------------------------------------------------------------------------------------------------->
    <script type="text/javascript">
        function findNearestBusiness() {
            {% for business in businesses %}
                localBusinesses.push(["{{ business.slug }}", "{{ business.lat }}", "{{ business.long }}", "{{ business.name }}"]);
            {% endfor %}
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(UserLocation);
            } else {
                alert('GLASGOW');
            }
        }

        function businessDetails(closestBusiness) {
            {% for business in businesses %}
                if ('{{ business.slug }}' === closestBusiness) {
                    document.getElementById("business_name").innerHTML = '{{ business.name }}';
                    document.getElementById("business_address").innerText = "{{ business.address | escapejs }}";
                    document.getElementById("business_opening_hours").innerHTML = '{{ business.opening_hours | linebreaks | escapejs }}';
                    document.getElementById("business_link").href = "{% url 'business-list' %}{{ business.slug }}";
                }
            {% endfor %}
        }
    </script>
    <script type="text/javascript" src={% static "javascript/myaccount.js" %}></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1_mwAa6UhCMVkPr4XIk-XFSXlD0Fwkmw&libraries=places&callback=findNearestBusiness"></script>
{% endblock %}
