{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        My Plants
    {% endblock %}
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
        <h1>My Plants</h1>
    </div>
    {% if plants %}
    <div class="myplants_container" style="display: grid">
        {% for plant in plants %}

            <div class="card text-center" style="width: 18rem;">
                <a href="/plant-list/{{ plant.slug }}">
                    <img src="{% static plant.picture %}" class="card-img-top" alt="{{ plant.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ plant.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ plant.latin_name }}</h6>
                    </div>
                </a>
                <form method="post" action="{% url 'remove_saved_plant' %}?next={{ 'myplantspage' }}">
                    {% csrf_token %}
                    <input type="hidden" id="saved_plant" name="saved_plant" value={{ plant.slug }}>
                    <button type="submit" name="remove_saved_plant" class="btn btn-outline-success">
                        remove from my plants
                    </button>
                </form>
            </div>

        {% endfor %}
    </div>
<a href="{% url 'plant_list' %}">Return to A-Z list of plants</a>
    {% endif %}
    <img id="border_image" src="{% static 'images/flowerpotsborder.png' %}" alt="plantmate"/>
{% endblock %}