{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}

{% block head_block %}

    {% block title_block %}
        plant a-z
    {% endblock %}
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
        <div class="jumbotron_row">
            <div class="title">
                <h1>Plants</h1>
                <h2>Click on a plant to find out more!</h2>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    filter
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=size&filter=Small">Small</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=size&filter=Medium">Medium</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=size&filter=Large">Large</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=climate&filter=Warm">Warm climate</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=climate&filter=Cool">Cool climate</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=sun&filter=Sunny">Sunny room</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=sun&filter=Shady">Shaded room</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=pets&filter=yes">plants suitable for pets</a>
                    <a class="dropdown-item" href="{% url 'filter_plant' %}?category=characteristics&filter=air">Air
                        purifying plants</a>
                    <a class="dropdown-item" href="{% url 'filter_plant' %}?category=characteristics&filter=easy">Easy
                        to care
                        for</a>
                    <a class="dropdown-item"
                       href="{% url 'filter_plant' %}?category=characteristics&filter=trailing">Trailing plants</a>
                </div>
            </div>
        </div>
    </div>





    {% if plants %}
        <div class="plants_container" style="display: grid">
            {% for plant in plants %}
                <div class="card text-center" style="width: 18rem">
                    <img src="{% static plant.picture %}" class="card-img-top" alt="{{ plant.name }}"
                         style="height: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">{{ plant.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ plant.latin_name }}</h6>
                        <a href="{% url 'plant' plant.slug %}" class=" btn-primary stretched-link"></a>
                    </div>
                </div>
            {% endfor %}
                <div class="card text-center" style="width: 18rem">
                    <img src="{% static 'images/office1.jpg' %}" class="card-img-top" alt="just a test" style="height: 18rem"/>
                        <div class="card-body">
                            <h5 class="card-title">Can't find the plant you're looking for?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Add a new one here</h6>
                            <a href="{% url 'add_plant' %}" class=" btn-primary stretched-link"></a>
                        </div>
                </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}

    {% else %}
        <p>You can add your own plant if you <a href="{% url 'add_plant' %}">log in</a> or <a
                href="{% url 'add_plant' %}">sign
            up!</a><br/>
        </p>{% endif %}
    <img id="border_image" src="{% static 'images/flowerpotsborder.png' %}" alt="plantmate"/>

    <script>


        function filterSelection(value) {
            if (value === 'no') {
                document.getElementById(value).style.display = "block";
                document.getElementById('yes').style.display = "none";
            } else if (value === 'yes') {
                document.getElementById(value).style.display = "block";
                document.getElementById('no').style.display = "none";
            } else {
                document.getElementById('no').style.display = "block";
                document.getElementById('yes').style.display = "block";
            }
        }
    </script>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}