{% extends "plantmate/base.html" %}
{% load staticfiles %}

{% block title_block %}
    plant a-z
{% endblock %}

{% block body_block %}
    <h1>this is a page for pllllants</h1>

    {% if plants %}
        <ul>
            {% for plant in plants %}
                <li><a href="{{ plant.slug }}">{{ plant.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'add_plant' %}">add a new plant</a><br/>
    {% endif %}
{% endblock %}