{% extends "plantmate/base.html" %}
{% load staticfiles %}

{% block title_block %}
    quiz
{% endblock %}

{% block body_block %}
    <h1>plantmate quiz</h1>
    
    What size of plant are you looking for? <br>
    <button class="btn btn-primary" type="submit" name="small" value="small"/>small</button>
    <button class="btn btn-primary" type="submit" name="medium" value="medium"/>medium</button>
    <button class="btn btn-primary" type="submit" name="large" value="large"/>large</button>
    Small, Medium, Large<br><br>

    Which of the following options best describes the type of plant you would like to own?<br>
    
    Easy to care for, Air purifying, Trailing/Hanging<br><br>
    
    Which room would you like to put your plant in?<br>
     Living Room/Bedroom, Kitchen/Bathroom<br><br>
    
    Which one of the following words best describes the climate of your chosen room?<br>
     Cool, warm<br><br>
    
    How bright is the sunlight in your chosen room?<br>
     Bright, not bright<br><br>
    
    Do you have a pet?<br>
     Yes, No<br><br>
    brought to you by us <br />
{% endblock %}