<!--
{% extends 'plantmate/base.html' %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        Register
    {% endblock %}
{% endblock %}
{% block body_block %}
<div class="jumbotron">
    <h1>Register for Plantmate!</h1>
</div>
    {% if registered %}
        Thank you for registering!
        <a href="{% url 'home' %}">Return to homepage</a><br/>
    {% else %}
        Register here<br/>
        <form id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register"/>
        </form>
    {% endif %}
{% endblock %}-->
