

{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}

{% block head_block %}
    {% block title_block %}
        My Wishlist
    {% endblock %}
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
        <h1>My Wishlist</h1>
    </div>
    {% if plants %}
        {% for plant in plants %}
            <div class="card" style="width: 18rem;">
                <img src="{% static plant.picture %}" href="/plant-list/{{ plant.slug }}" class="card-img-top"
                     alt="{{ plant.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ plant.latin_name }}</h6>
                    <form method="post" action="{% url 'remove_wishlist_plant' %}?next={{ "mywishlistpage" }}">
                        {% csrf_token %}
                        <input type="hidden" id="remove_wishlist_plant" name="wishlist_plant"
                               value={{ plant.slug }}>
                        <button type="submit" name="remove_wishlist"
                                class="btn btn-outline-success">remove from wishlist
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <!-- these need fixed --------------------------------------------------------------------------------->
    <img id="border_image" src="{% static 'images/flowerpotsborder.png' %}" alt="plantmate"/>
{% endblock %}