{% extends "plantmate/base.html" %}
{% load staticfiles %}

{% block head_block %}
    {% block title_block %}
        wishlist
    {% endblock %}
{% endblock %}
{% block body_block %}
<div class="jumbotron">
    <h1>wishlist</h1>
</div>
    {% if plants %}
        {% for plant in plants %}
            <a href="/plant-list/{{ plant.slug }}">{{ plant.name }}</a>
            <img src="{% static plant.picture %}" width="100">
            </br>
        {% endfor %}
    {% endif %}
<!-- these need fixed --------------------------------------------------------------------------------->
    <a href="/plant/">Plant page</a><br/>
    <a href="/myaccount/my-plants">My Plants</a><br/>
    <a href="{% url 'home' %}">plantmate home</a><br/>
{% endblock %}