{% extends "plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        <title>Your plantmate</title>
    {% endblock %}
{% endblock %}
{% block body_block %}
    <body onload="buttons()">
     {% for plant in plants %}
        <script>
            let allplants = JSON.parse('{{plant|safe|escapejs}}');
        </script>
    {% endfor %}
    <div><H4 id="hi"></H4></div>
    </br>
    <div id="results"></div>
    <script type="text/javascript" src={% static "javascript/quiz.js" %}></script>
    </body>
{% endblock %}

