{% extends "plantmate/../plantmate/base.html" %}
{% load staticfiles %}
{% load static %}
{% block head_block %}
    {% if user.is_authenticated %}
        <script>
            document.getElementById("saved_button").style.display = "block";
            document.getElementById("wishlist_button").style.display = "block";
        </script>
    {% endif %}
    {% block title_block %}
        Your plantmate
    {% endblock %}
{% endblock %}
{% block body_block %}
    <body onload="onload()">
    {% for plant in plants %}
        <script>
            let allplants = JSON.parse('{{plant|safe|escapejs}}');
        </script>
    {% endfor %}
    <div id="results">
        <div class="jumbotron">
            <H4 id="match"></H4>
        </div>
    </div>
    <br>
    <div class="background_space">
        <br>
        <img id="image" src="" alt="your plantmate">
        <ul id="list_of_criteria">
            <li id="size"></li>
            <li id="characteristics"></li>
            <li id="room"></li>
            <li id="climate"></li>
            <li id="light"></li>
            <li id="pet"></li>
        </ul>
        <form id="show_plant">
            <button type="submit" value="more information">more information</button>
        </form>
        <div id="saved_button" display="hidden">
            <form method="post" action="{% url 'save_plant' %}">
                {% csrf_token %}
                <input type="hidden" id="saved_plant" name="saved_plant" value="">
                <button type="submit" name="saved_plants">add plant to my plants</button>
            </form>
        </div>
        <div id="wishlist_button" display="hidden">
            <form method="post" action="{% url 'wishlist_plant' %}">
                {% csrf_token %}
                <input type="hidden" id="wishlist_plant" name="wishlist_plant" value="">
                <button type="submit" name="wishlist">add plant to my wishlist</button>
            </form>
        </div>
    </div>
    </body>
    <script type="text/javascript">
        function updateDocInline() {
            document.getElementById("show_plant").action = {% url 'plant_list' %}+plant.slug;
            document.getElementById("image").src = {% get_static_prefix %}+plant.picture;
        }
    </script>
    <script type="text/javascript" src={% static "javascript/quiz.js" %}></script>
{% endblock %}