{% extends "plantmate/base.html" %}
{% load staticfiles %}
{% block head_block %}
    {% block title_block %}
        <title>Your plantmate</title>
    {% endblock %}
{% endblock %}
{% block body_block %}
    <div><H4 id="hi">WELCOME TO QUIZ</H4></div>
    </br>
    <input type="button" name="button" value="button" onclick="buttons()">

    {% for plant in plants %}
        <script>
            let allplants = JSON.parse('{{plant|safe|escapejs}}');
        </script>
    {% endfor %}

    <div id="results"></div>

    <script type="text/javascript" src={% static "javascript/quiz.js" %}></script>
{% endblock %}

