a {
    color: #4fa543;
}

a:hover {
    color: #b299a9;
    text-decoration: none;
}

h1 {
    font-family: 'spartanmb-extra-bold';
}

h2 {
    font-family: 'spartanmb-regular';
}

h3 {
    font-family: 'spartanmb-thin';
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'spartanmb-regular';
    background-image: url("css-images/flowerpotsbordergreen.png");
    background-position: right 0 bottom 0;
    background-repeat: no-repeat;
    background-size: auto 200px;

}

.jumbotron {
    background-color: #c5d181;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jumbotron_row_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.background_space_large {
    min-height: 100%;
    margin-bottom: 120px;
}

.background_space,
.background_space_medium,
.background_space_medium_rare,
.background_space_smaller {
    min-height: 100%;
    margin-bottom: 40px;
}


#user_uploaded_plant_images {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.plants_container,
.myplants_container,
.mywishlist_container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
}

.my_account_plants_container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 1rem;
}



#homepage_image {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -3;
}

#quiz_button {
    text-align: center;
    z-index: -1;
}

#search-box {
    background-color: rgb(208, 230, 173);
    font-family: Georgia;
    color: black;
}

.nav-link {
    font-family: 'spartanmb-semibold';
}

.btn-group {
    max-height: 100px;
    padding: 30px;
    margin-right: 120px;
}

.square_image_100px_radius {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

@font-face {
    font-family: 'spartanmb-black';
    src: url('/static/fonts/spartanmb-black-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-black-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'spartanmb-bold';
    src: url('/static/fonts/spartanmb-bold-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'spartanmb-light';
    src: url('/static/fonts/spartanmb-light-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-light-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'spartanmb-extra-bold';
    src: url('/static/fonts/spartanmb-extra-bold-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-extra-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'spartanmb-regular';
    src: url('/static/fonts/spartanmb-regular-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'spartanmb-semibold';
    src: url('/static/fonts/spartanmb-semibold-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-semibold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'spartanmb-thin';
    src: url('/static/fonts/spartanmb-thin-webfont.woff') format('woff'),
    url('/static/fonts/spartanmb-thin-webfont.woff2') format('woff2');
}

